# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  version
  defaults
  icons

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_vlc.VlcMediaSourcePlugin
  description=Provides VLC nowplaying information
  name=vlcmediasource
  nicename=VLC Media Sources

requires:
  dmdirc=4641

updates:
  id=24

version:
  friendly=0.3

provides:
  vlc mediasource

required-services:
  mediasource manager

defaults:
  host=localhost:8082

icons:
  category-vlc=plugin://vlcmediasource:com/dmdirc/addons/mediasource_vlc/vlc.png