# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  version
  icons

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.osd.OsdPlugin
  description=Provides command to show on screen display
  name=osd
  nicename=OSD Plugin

requires:
  parent=ui_swing

updates:
  id=3

version:
  friendly=0.3

provides:
  osd command

required-services:
  swing ui

defaults:
  locationX=20
  locationY=20
  newbehaviour=down
  bgcolour=2222aa
  fgcolour=ffffff
  fontSize=20
  timeout=15

exports:
  showOSD in com.dmdirc.addons.osd.OsdCommand as showNotification

icons:
  category-osd=plugin://osd:com/dmdirc/addons/osd/icon.png