keysections:
  metadata
  version
  requires
  updates

metadata:
  mainclass=com.dmdirc.addons.osd.OsdPlugin
  description=Provides command to show on screen display
  name=osd
  nicename=OSD Plugin
  author=Chris <chris@dmdirc.com>

version:
  friendly=0.3

requires:
  dmdirc=0
  services=swing ui
  dmdirc=0
  parent=ui_swing

updates:
  id=3

provides:
  osd command