[submodule "modules/parser"]
	path = modules/parser
	url = git://dmdirc.com/~dmdirc/parser
[submodule "modules/plugins"]
	path = modules/plugins
	url = git://dmdirc.com/~dmdirc/plugins
[submodule "modules/defaults"]
	path = modules/defaults
	url = git://dmdirc.com/~dmdirc/defaults
[submodule "modules/util"]
	path = modules/util
	url = git://dmdirc.com/~dmdirc/util
