# DMDirc .gitignore file

/build
/dist
/nbproject/private
/reports
/plugins
/junitreports
/junit*.properties
/installer/output/*
/installer/osx/compress-dmg
/installer/windows/*.rc
/installer/windows/*.inc
/installer/windows/*.ico
/installer/windows/DMDirc.jar
.svn
*.class
*.exe
__history
*.bdsproj
*.bdsproj.local
*.identcache
*.res
*.a
*.o
*.ppu
