# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  icons
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.nowplaying.NowPlayingPlugin
  description=Adds a command to show nowplaying information
  name=nowplaying
  nicename=Now Playing Plugin

requires:
  dmdirc=4641

updates:
  id=8

version:
  friendly=0.6

persistent:
  com.dmdirc.addons.nowplaying.MediaSource
  com.dmdirc.addons.nowplaying.MediaSourceState
  com.dmdirc.addons.nowplaying.MediaSourceManager

provides:
  nowplaying command
  mediasource manager

defaults:
  format=/me is playing $artist - $title

icons:
  category-nowplaying=plugin://nowplaying:com/dmdirc/addons/nowplaying/nowplaying.png