keysections:
  metadata
#  version
  requires
  updates

metadata:
  mainclass=com.dmdirc.addons.nowplaying.NowPlayingPlugin
  author=Chris <chris@dmdirc.com>
  description=Adds a command to show nowplaying information
  name=nowplaying
  nicename=Now Playing Plugin

#version:
#  friendly=0.5

requires:
  dmdirc=4641

updates:
  id=8

provides:
  nowplaying command

persistent:
  com.dmdirc.addons.nowplaying.MediaSource
  com.dmdirc.addons.nowplaying.MediaSourceState
  com.dmdirc.addons.nowplaying.MediaSourceManager