# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  version

metadata:
  author=Shane Mc Cormack <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_windows.WindowsMediaSourcePlugin
  description=Provides windows media sources for the now playing plugin
  name=windowsmediasource
  nicename=Windows Media Sources

requires:
  os=.*windows.*

updates:
  id=30

version:
  friendly=0.2

provides:
  winamp mediasource
  itunes mediasource

required-services:
  mediasource manager
#  windows os