# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  requires
  defaults
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.lagdisplay.LagDisplayPlugin
  description=Displays the server lag in the status bar
  name=lagdisplay
  nicename=Lag Displayer

requires:
  parent=ui_swing

updates:
  id=2

version:
  friendly=0.5

provides:
  lagdisplay statusbar_entry

required-services:
  swing ui

defaults:
  usealternate=false
  graph=true
  labels=true
  history=50