# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  requires
  defaults
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.nickcolours.NickColourPlugin
  description=Provides various nick colouring tools
  name=nickcolour
  nicename=Nick Colour Plugin

updates:
  id=12

requires:
  parent=ui_swing

version:
  friendly=0.6

persistent:

provides:

required-services:

defaults:
  useowncolour=false
  owncolour=ff0000
  userandomcolour=false
  settext=false
  setnicklist=false