# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.ui_dummy.DummyController
  description=A dummy user interface that allows no interaction
  name=ui_dummy
  nicename=Dummy UI
  unloadable=no

updates:
  id=41

version:
  friendly=0.7

provides:
  dummy ui
