keysections:
  metadata
#  version
  requires
  updates

metadata:
  mainclass=com.dmdirc.addons.ui_dummy.DummyController
  author=Chris <chris@dmdirc.com>
  description=A dummy user interface that allows no interaction
  name=ui_dummy
  nicename=Dummy UI

#version:
#  friendly=0.5

updates:
  id=41

provides:
  dummy ui