# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.ui_swing.SwingController
  description=The standard DMDirc user interface
  name=ui_swing
  nicename=Swing UI
  unloadable=no

updates:
  id=42

version:
  friendly=0.6

provides:
  swing ui

defaults:
    debugEDT=false