keysections:
  metadata
#  version
  requires
  updates

metadata:
  mainclass=com.dmdirc.addons.ui_swing.SwingController
  author=Chris <chris@dmdirc.com>
  description=The standard DMDirc user interface
  name=ui_swing
  nicename=Swing UI

#version:
#  friendly=0.5

updates:
  id=42

provides:
  swing ui