# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.tabcompletion_mirc.MircStylePlugin
  description=Tab completion that cycles through matches
  name=tabcompletion_mirc
  nicename=mIRC-style completion

updates:
  id=44

version:
  friendly=1.1

provides:
  mirc tabcompletion

exports:
  getCompletionStyle in com.dmdirc.addons.tabcompletion_mirc.MircStylePlugin