# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.windowstatus.WindowStatusPlugin
  description=Displays information related to the current window in the status bar.
  name=windowstatus
  nicename=WindowStatus Plugin

requires:
  parent=ui_swing

updates:
  id=13

version:
  friendly=0.6

provides:
  windowstatus statusbar_entry

required-services:
  swing ui

defaults:
  channel.shownone=true
  channel.noneprefix=None:
  client.showname=false