# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Greboid <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.dns.DNSPlugin
  description=Provides a DNS command and method to the client
  name=dns
  nicename=DNS Plugin

updates:
  id=10

version:
  friendly=0.3

provides:
  dns command

required-services:
