# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.logging.LoggingPlugin
  description=Allows logging of conversations
  name=logging
  nicename=Logging Plugin

requires:
  parent=ui_swing

updates:
  id=16

version:
  friendly=0.6

provides:
  logging command
  logging feature

required-services:
  swing ui

defaults:
  general.networkfolders=true
  advanced.filenamehash=false
  general.addtime=true
  general.timestamp=[dd/MM/yyyy HH:mm:ss]
  general.stripcodes=true
  general.channelmodeprefix=true
  backbuffer.autobackbuffer=true
  backbuffer.lines=10
  backbuffer.colour=14
  backbuffer.timestamp=false
  history.lines=50000
  advanced.usedate=false
  advanced.usedateformat=yyyy/MMMM