# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.redirect.RedirectPlugin
  description=Adds commands to redirect command output to channels
  name=redirect
  nicename=Redirect Plugin

updates:
  id=4

version:
  friendly=0.3

provides:
  redirect command

required-services:
