# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
#  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.identd.IdentdPlugin
  description=Answers ident requests from IRC servers
  name=identd
  nicename=Identd Plugin

updates:
  id=15

#version:
#  friendly=0.2

provides:

required-services:
