# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.time.TimePlugin
  description=Provides time-based actions and commands
  name=time
  nicename=Time Plugin

updates:
  id=6

version:
  friendly=0.3

persistent:
  com.dmdirc.addons.time.TimeActionType
  com.dmdirc.addons.time.TimeActionMetaType$1
  com.dmdirc.addons.time.TimeActionMetaType

provides:
  time action
  time actionmetatype

required-services:
