# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Greboid <greg@dmdirc.com>
  mainclass=com.dmdirc.addons.mediasource_dcop.DcopMediaSourcePlugin
  description=Provides DCOP media sources for the now playing plugin
  name=dcopmediasource
  nicename=DCOP Media Sources

updates:
  id=9

version:
  friendly=0.3

provides:
  amarok mediasource
  kaffeine mediasource
  noatum mediasource

required-services:
  dcop export
  mediasource manager