# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version
  defaults

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.urlcatcher.UrlCatcherPlugin
  description=Logs all URLs that are mentioned
  name=urlcatcher
  nicename=URL Catcher

updates:
  id=25

version:
  friendly=0.2

provides:

required-services:

defaults:
  captureraw=true