# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
#  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.dcc.DCCPlugin
  description=Adds DCC Support to dmdirc
  name=dcc
  nicename=DCC Plugin

requires:
  parent=ui_swing

updates:
  id=23

#version:
#  friendly=0.2

persistent:
  com.dmdirc.addons.dcc.actions.DCCActions
  com.dmdirc.addons.dcc.actions.DCCEvents

provides:
  dcc command

required-services:
  swing ui