# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
  formatters
  icons
  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.dcc.DCCPlugin
  description=Adds DCC Support to dmdirc
  name=dcc
  nicename=DCC Plugin

requires:
  parent=ui_swing

updates:
  id=23

version:
  friendly=0.4

persistent:
  com.dmdirc.addons.dcc.actions.DCCActions
  com.dmdirc.addons.dcc.actions.DCCEvents

provides:
  dcc command
  dcc feature

required-services:
  swing ui

defaults:
  general.useKFileChooser=false
  send.reverse=false
  send.forceturbo=true
  receive.reverse.sendtoken=false
  send.blocksize=1024
  receive.autoaccept=false
  firewall.ip=
  firewall.ports.usePortRange=false
  firewall.ports.startPort=11000
  firewall.ports.endPort=11019

formatters:
  DCCChatStarting=Starting DCC Chat with: %1$s on %2$s:%3$s
  DCCChatInfo=%1$s
  DCCChatError=\u00034 Error: %1$s
  DCCSendError=\u00034 Error: %1$s
  DCCChatSelfMessage=<%1$s> %2$s
  DCCChatMessage=<%1$s> %2$s

icons:
  category-dcc=plugin://dcc:com/dmdirc/addons/dcc/res/transfers.png
  dcc=plugin://dcc:com/dmdirc/addons/dcc/res/transfers.png
  dcc-chat-active=plugin://dcc:com/dmdirc/addons/dcc/res/chat.png
  dcc-chat-inactive=plugin://dcc:com/dmdirc/addons/dcc/res/chat-inactive.png
  dcc-send-active=plugin://dcc:com/dmdirc/addons/dcc/res/send.png
  dcc-send-inactive=plugin://dcc:com/dmdirc/addons/dcc/res/send-inactive.png
  dcc-send-done=plugin://dcc:com/dmdirc/addons/dcc/res/send-done.png
  dcc-send-failed=plugin://dcc:com/dmdirc/addons/dcc/res/send-failed.png
  dcc-receive-active=plugin://dcc:com/dmdirc/addons/dcc/res/receive.png
  dcc-receive-inactive=plugin://dcc:com/dmdirc/addons/dcc/res/receive-inactive.png
  dcc-receive-done=plugin://dcc:com/dmdirc/addons/dcc/res/receive-done.png
  dcc-receive-failed=plugin://dcc:com/dmdirc/addons/dcc/res/receive-failed.png