# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  requires
  updates
  defaults
#  version

metadata:
  author=Shane <shane@dmdirc.com>
  mainclass=com.dmdirc.addons.dcc.DCCPlugin
  description=Adds DCC Support to dmdirc
  name=dcc
  nicename=DCC Plugin

requires:
  parent=ui_swing

updates:
  id=23

#version:
#  friendly=0.2

persistent:
  com.dmdirc.addons.dcc.actions.DCCActions
  com.dmdirc.addons.dcc.actions.DCCEvents

provides:
  dcc command
  dcc feature

required-services:
  swing ui

defaults:
  general.useKFileChooser=false
  send.reverse=false
  send.forceturbo=true
  receive.reverse.sendtoken=false
  send.blocksize=1024
  receive.autoaccept=false
  firewall.ip=
  firewall.ports.usePortRange=false
  firewall.ports.startPort=11000
  firewall.ports.endPort=11019