# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  requires
  defaults
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.systray.SystrayPlugin
  description=Adds a system tray icon
  name=systray
  nicename=Systray Plugin

updates:
  id=5

requires:
  parent=ui_swing

version:
  friendly=0.2

provides:
  popup command
  systray feature

required-services:

defaults:
  autominimise=true

exports:
  showPopup in com.dmdirc.addons.systray.SystrayPlugin.PopupCommand as showNotification