1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0x000A
FILEFLAGS 0x3f
FILEOS 0x40004
FILETYPE 1
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040004E4"
		BEGIN
			VALUE "Comments", "http://www.dmdirc.com/"
			VALUE "CompanyName", "DMDirc"
			VALUE "FileDescription", "Launcher for DMDirc"
			VALUE "FileVersion", "2.0"
			VALUE "InternalName", "DMDirc.exe"
			VALUE "LegalCopyright", "Copyright (c) 2006-2009 Chris Smith, Shane Mc Cormack, Gregory Holmes"
			VALUE "OriginalFilename", "$2"
			VALUE "ProductName", "DMDirc Launcher"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x400, 1252
	END
END
