# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.userlevel.UserLevelPlugin
  description=Allows actions and other plugins to assign and check access levels for users
  name=userlevel
  nicename=User Levels

updates:
  id=21

version:
  friendly=0.2

persistent:
  com.dmdirc.addons.userlevel.AccessLevelComponent
  com.dmdirc.addons.userlevel.ChannelAccessLevelComponent

provides:

required-services:
