# This is a DMDirc configuration file.

# This section indicates which sections below take key/value
# pairs, rather than a simple list. It should be placed above
# any sections that take key/values.
keysections:
  metadata
  updates
  version

metadata:
  author=Chris <chris@dmdirc.com>
  mainclass=com.dmdirc.addons.tabcompletion_bash.BashStylePlugin
  description=Tab completion that lists all possible matches
  name=tabcompletion_bash
  nicename=Bash-style completion

updates:
  id=43

version:
  friendly=1.1

provides:
  bash tabcompletion

exports:
  getCompletionStyle in com.dmdirc.addons.tabcompletion_bash.BashStylePlugin